@use "@/styles/index" as ui;
@use "../BaseCard.module.scss" as base;
.appBackground {
  background: #f7f7f7;
}

.statusTag {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: ui.$spacing-sm 0;
  color: ui.$color-primary;
  background-color: ui.$color-warning;
  margin-top: ui.$spacing-sm;
  padding-left: 0;
  padding-right: 0;
  border-radius: ui.$radius-lg;
}

.approve {
  background: ui.$color-success;
  color: ui.$color-primary;
}

.reject,
.cancel {
  background: ui.$color-danger;
  color: ui.$color-primary;
}

.apply,
.view {
  background: ui.$color-primary;
}

@media (min-width: 2560px) {
  .appBackground {
    max-width: 2560px;
    margin: 0 auto;
    padding: ui.$spacing-lg 0;
  }

  .statusTag {
    font-size: ui.$font-size-2xl;
    padding: ui.$spacing-md 0;
    margin: ui.$spacing-md 0;
    border-radius: ui.$radius-lg;
  }

  .approve,
  .reject,
  .cancel,
  .apply,
  .view {
    font-size: ui.$font-size-2xl;
    padding: ui.$spacing-sm ui.$spacing-md;
  }
}