@use "@/styles/index" as ui;
@use "../BaseCard.module.scss" as base;
.appBackground {
  background: #f7f7f7;
}

.statusTag {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: ui.$spacing-sm 0;
  color: ui.$color-primary;
  background-color: ui.$color-warning;
  margin-top: ui.$spacing-sm;
  padding-left: 0;
  padding-right: 0;
  border-radius: ui.$radius-lg;
}

.approve {
  background: ui.$color-success;
  color: ui.$color-primary;
}

.reject,
.cancel {
  background: ui.$color-danger;
  color: ui.$color-primary;
}

.apply,
.view {
  background: ui.$color-primary;
}
