@use "./tokens" as t;


// общий контейнер/обёртка карточек
@mixin cards-layout($gap: t.$spacing-md) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  justify-content: center;
}


// общий контейнер/обёртка карточек
@mixin cards-layout($gap: t.$spacing-md) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  justify-content: center;
}

// центровка абсолютного элемента
@mixin abs-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
