@use "sass:meta";                      
@use "@/styles/index" as ui;
@mixin action-button {
  background-color: ui.$color-primary;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: ui.$shadow-strong;

  &:hover {
    background-color: ui.$color-primary-light;
    transform: translateY(-2px);
  }
}

.card {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-radius: 24px;
  box-shadow: ui.$shadow-light;
  padding: ui.$spacing-lg;
  margin: calc(ui.$spacing-lg / 2) auto;
  border: 1px solid ui.$color-primary-light;
  transition: all 0.3s ease;
  font-size: 18px;

  &-header {
    margin-bottom: ui.$spacing-md;
  }

  &-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: ui.$color-primary;
    margin-bottom: 4px;
  }

  &-type {
    font-size: 1.2rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-body {
    margin-bottom: ui.$spacing-md;
  }

  &-resume {
    color: #444;
    line-height: 1.5;
    margin-bottom: ui.$spacing-md;
    text-align: left;

    .type-capture {
      margin-right: 4px;
      display: inline;
      font-weight: 600;
      color: ui.$color-primary;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    .text-capture {
      font-weight: 600;
      color: ui.$color-primary;
      margin-right: 8px;
    }
  }

  &-tag {
    background-color: ui.$color-primary-light;
    color: ui.$color-primary;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s, transform 0.2s;
  }

  &-noTags {
    color: #888;
    font-style: italic;
  }

  &-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  

  .action-link {
    text-decoration: none;
  }

.action-button {
  @include action-button();
}}
