.card {
    width: calc(100% - 40px);
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--purple-light);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-name {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--purple);
    margin-bottom: 12px;
    letter-spacing: 0.5px;
}

.card-type,
.card-resume {
    display: flex;
    align-items: center; 
    margin-bottom: 12px; 
    font-size: 1rem;
    color: #555;
    gap: 10px;
}

.type-capture,
.resume-capture {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--purple);
    white-space: nowrap; 
}

.card-type p,
.card-resume p {
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}


.card-tags {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.card-tags h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 10px;
}

.card-tag {
    background-color: var(--purple-light);
    color: var(--purple);
    padding: 6px 12px;
    margin: 3px;
    border-radius: 18px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

.card-tag:hover {
    background-color: var(--purple);
    color: white;
    transform: scale(1.05);
}


.card-actions {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-button {
    background-color: var(--purple);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.action-button:hover {
    background-color: var(--purple-light);;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.action-link {
    text-decoration: none;
}
