/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Profile Form */
  .profile-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
    text-align: left;
  }
  
  .profile-form input,
  .profile-form select {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .profile-form button[type="submit"] {
    padding: 12px;
    background-color: var(--purple, #330036); /* Use a purple color from :root */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-form button[type="submit"]:hover {
    background-color: var(--purple-light, #815dac); /* Lighter purple */
  }
  
  .profile-form input,
  .profile-form select {
    text-align: left;
    outline: none;
  }
  
  .profile-form input:focus,
  .profile-form select:focus {
    border-color: var(--purple, #330036);
  }
  
  /* Modal Footer Buttons */
  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-footer button {
    padding: 10px 20px;
    background-color: var(--purple, #330036); /* Use a purple color from :root */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-footer input:focus,
  .modal-footer select:focus {
    border-color: var(--purple, #330036);
  }
  .modal-footer button:hover {
    background-color: var(--purple-light, #815dac); /* Lighter purple */
  }
  