// Подключение Google Fonts Rubik
@use "@/styles/tokens" as t;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");



html {
  font-family: "Rubik", sans-serif;
  font-size: t.$font-size-base;    
  line-height: t.$line-height-base;
  color: t.$color-text;
}


h1 { font-size: t.$font-size-4xl; font-weight: 700; }
h2 { font-size: t.$font-size-3xl; font-weight: 700; }
h3 { font-size: t.$font-size-2xl; font-weight: 500; }



p, li {
  font-size: t.$font-size-base;
  line-height: t.$line-height-base;
}
